<%- include partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/print.css" media="print" />

<body>
  <%- include partials/navbar.ejs %>
  <br>
  <h3 class="no-print">Relação de Certificados para Impressão</h3>
  <% for (let aluno of alunos) { %>
  <div id=<%= `folha-aluno-${aluno.id}` %> class="folha a4_horizontal">
    <div id=<%= `conteudo-aluno-${aluno}` %>>
      <%= aluno.nome %>
      <%= aluno.data_inicio %>
      <%= aluno.data_fim %>
    </div>
  </div>
  <% } %>
  <%- include partials/footer.ejs %>
</body>

</html>